@import 'node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Playwrite+VN:wght@100..400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@media (prefers-color-scheme:dark){
    :root{
        --m-bg-c: rgb(10, 10, 20);
        --s-bg-c: rgb(20, 20, 45);
        --m-txt-c: rgb(200,200,200);
        --s-txt-c: rgb(255,255,255);
        --m-ft-c: rgb(240,200,0);
        --a-ft-c: rgb(100,240,0);
    }
}

@media (prefers-color-scheme:light){
    :root{
        --m-bg-c: rgb(255,255,255);
        --s-bg-c: rgb(255,255,255);
        --m-txt-c: rgb(25, 25, 50);
        --s-txt-c: rgb(50, 50, 75);
        --m-ft-c: rgb(240,200,0);
        --a-ft-c: rgb(100,240,0);
    }
}


@keyframes announcements-trending-hover{
    0%{}
    100%{
        background: var(--m-bg-c);
        color: var(--s-txt-c);
        border-color: var(--s-txt-c);
    }
}
@keyframes hover-link-side {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(10px);
        color: var(--s-txt-c)
    }
}
@keyframes hover-change-color {
    0% {}
    100% {
        background: rgb(100, 200, 255)
    }
}
@keyframes project-card-hover{
    0%{}
    100%{
        transform: translateX(5px);
        box-shadow: -15px 0 0 0 var(--a-ft-c);
        border-color: var(--a-ft-c);
    }
}

@keyframes welcome-user-animation{
    0%{}
    25%{
        transform: translateX(-1%);
    }
    75%{
        transform: translateX(1%);
    }
    100%{
        transform: translateX(0);
    }

}

*{
    box-sizing: border-box; 
    padding:0; margin:0;
    color: var(--m-txt-c)
}

#announcements-area p{
    padding:  1ch 1ch 2ch 1ch;
    border-top: 1px solid var(--m-txt-c);
}
#announcements-area p:hover{
    animation-name: announcements-trending-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

body{
    overflow-x: hidden;
    scroll-behavior: smooth;

    display:grid;

    font-family: 'roboto mono';
    font-weight: 500;
}

.button{
    width: fit-content;
    height: 3.5ch;
    border-radius: 1ch;
    border: 0;

    margin:0;
    
    background: rgb(50, 100, 255); 

    p{
        font-family: 'roboto mono';
        color: var(--s-txt-c);
        font-weight: 700;
    }
    

}
.button:hover{
    animation-name: hover-change-color;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.container{
    display:flex; 
    align-items:center; justify-content: center;
    width: 100%; height: 100%;
}

form{
    width:100%; height:100%;
    display:inherit;
    align-items: inherit;
    justify-content: inherit;
}

h1{
    padding: 0 1ch 0 1ch;
    color: var(--s-txt-c);
    font-weight: 700;
    letter-spacing: 0.1ch;

}

h2{
    padding: 0 1ch 0 1ch;
    color: var(--s-txt-c);
    font-weight: 500;
    letter-spacing: 0.1ch;
}

html{
    background: var(--m-bg-c);
}

.icon{
    position: relative; top: 0.5ch;
    height: 2.2ch;
}
.project-card .icon:hover{
    transform: scale(1.1);
}
.icon2{
    height: 2.2ch;
}

.icon3{
    height: 4ch;
}

#layout1, #layout2{
    background: var(--s-bg-c);
}
#layout3,  #layout4{
    background: var(--m-bg-c);
}

.link{
    color: var(--m-txt-c);
    text-decoration: none;
    padding: 1ch;
}
.link:hover{
    color: var(--s-t-c);
}

#layout2 .link:hover{
    animation-name: hover-link-side; animation-duration: 0.5s; animation-fill-mode: forwards;
}

p{
    padding: 0 1ch 0 1ch;
    color: var(--m-txt-c);
    font-weight: 300;
    font-size: 0.8rem;
}

.project-card{
    padding:1ch;
    border: 2px solid var(--m-ft-c);
    border-radius: 2ch; 
    background: var(--s-bg-c);

    box-shadow: -8px 0 0 0 var(--m-ft-c);
    margin-left: 8px;

    display:grid;
    grid-template: minmax(150px, 2fr) minmax(50px, 1fr) / 2fr 2fr;
    .pc-content{
        grid-area: 1 / 1/ 2/ 3;

        p{
            padding-top: 2ch;
        }
    }
    .pc-icon-group{
        grid-area: 2/ 2/ 3/ 3;
        display:flex; justify-content:space-evenly; align-items:center;
    }
    
}
.project-card:hover{
    animation-name: project-card-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}


.searchbar{
    background-color: var(--m-bg-c);
    width: 80%;
    border-radius: 1ch;
    border: 0;
    height: 3ch;
    font-family: 'roboto mono', sans;
    letter-spacing:0.1ch;
    padding: 0 1ch;
}
searchbar:focus{
    background-color: var(--m-bg-c);
    outline: none;

}

.side-area{
    background: var(--s-bg-c);
    border-radius: 2ch;
    padding: 1ch;
    margin: 1ch;
}

#side-link-group1{
    grid-area: 'side-link-group1';
    display:flex; flex-direction:column;
    align-self: center;
    margin-left:3ch;
}
#side-link-group2{
    grid-area: 'side-link-group2';
    display:flex; flex-direction:column;
    align-self: center;
    margin-left: 3ch;
}

.side-text{
    font-style:oblique;
    font-weight:400;
    font-size: 0.8rem;
}
#top-left-logo{
    margin-left: 1ch;
    grid-area:top-left-logo;
    height:100%;

    display:flex; justify-content: center; align-items: center;

    #logo{
        height: 90px; width: auto;
    }
}

.trending-people{
    display:flex; flex-direction:row; 
    margin: 1ch 0 2ch 0;
    padding: 1ch;
    border: 1px solid var(--m-txt-c);
    border-radius: 1ch;
}
.trending-people:hover{
    animation-name:announcements-trending-hover;
    animation-duration: 0.5s;
    animation-fill-mode:forwards;
}

/* development borders  
*{
    border: 1px solid white;
}
body,html{
    border: 0;
}

/* layouts */

@media screen and (min-width: 140ch){
    body{
        width: 100vw; height: 100vh;
        display: grid;
        grid-template: 170px 1fr / 1fr 4fr 2fr;
    }
    
    #layout1{
        grid-row: 1 / 2;
        grid-column: 2 / 4;

        display:grid;
        grid-template: 1fr 1.3fr / 2fr 1fr;
        border-bottom: 1px solid var(--m-txt-c);

        #searchbar-area{
            grid-area: 1 / 1 / 2 / 2;
        }

        #user-features-area{
            grid-area: 1 / 2 / 3 / 3;

            width: 90%; height: 80%; place-self: center;

            display:grid;
            grid-template: 100px 70px / 1fr 2fr;

            #other-features{
                grid-area: 1 / 1/ 2/ 2;
                display: flex;
                justify-content: space-evenly;
            }
            #user-info{
                grid-area: 1 / 2 / 2 / 3;
            }
            #user-buttons{
                grid-area: 2 / 1 / 3/ 3;
                display: flex;
                justify-content: space-evenly;

                height: 4ch;
            }
        }
        
        #welcome-user-area{
            grid-area: 2 / 1 / 3 / 2;

            display:grid;
            grid-template: 1fr / 50px 100px 1fr 50px;

            #profile-pic-1{
                grid-area: 1 / 2/ 2 / 3;
            }
            #welcome{
                grid-area: 1/ 3/ 2/ 4;
                display:flex; flex-direction:column;
                align-items:start;
            }
        }
        #welcome-user-area:active{
            animation-name: welcome-user-animation;
            animation-duration: 1s;
            animation-iteration-count:infinite;
            animation-timing-function: linear;
        }
    }
    #layout2{
        grid-row: 1 / 3;
        grid-column: 1 / 2;

        display:grid;
        grid-template: 170px 6fr 3fr 4fr / 1fr;

        grid-template-areas: "top-left-logo" "side-link-group1" "side-link-group2";
    }
    #layout3{
        grid-row: 2 / 3;
        grid-column: 2 / 3;

        padding:2ch;
        

        height: 100%; 
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-width: thin;
        scrollbar-color: var(--s-bg-c) var(--m-bg-c); 
        scroll-behavior: smooth;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
    }
    #layout4{
        grid-row: 2 / 3;
        grid-column: 3 / 4; 
        
        height: 100%;
        overflow-y:scroll;
        overflow-x:hidden;
        scrollbar-width: thin;
        scrollbar-color: var(--s-bg-c) var(--m-bg-c);
        scroll-behavior: smooth;

        display: grid;
        grid-template: 300px 400px / 1fr;
        gap: 3ch;

        #announcements-area{
            grid-area: 1/ 1/ 2/ 2;

            display:flex; flex-direction:column; justify-content: space-evenly
        }
        #trending-area{
            grid-area: 2/ 1 / 3/ 2;
            display: flex; flex-direction:column; justify-content: space-evenly;
        }

    }
}

@media screen and (min-width: 450px) and (max-width: 140ch) {
    body{
        display:grid;
        grid-template: 170px 900px 800px / 1fr;
    }
    #layout1{
        grid-row: 1 / 2;
        grid-column: 1/2;

        display:grid;
        grid-template: 1fr 1.5fr / 2fr 1fr 0.2fr;
        border-bottom: 1px solid var(--m-txt-c);

        #searchbar-area{
            grid-area: 1 / 1 / 2 / 2;
        }

        #user-features-area{
            grid-area: 1 / 2 / 3 / 3;

            width: 90%; height: 80%; place-self: center;

            display:grid;
            grid-template: 100px 70px / 1fr 2fr;

            #other-features{
                grid-area: 1 / 1/ 2/ 2;
                display: flex;
                justify-content: space-evenly;
            }
            #user-info{
                grid-area: 1 / 2 / 2 / 3;
            }
            #user-buttons{
                grid-area: 2 / 1 / 3/ 3;
                display: flex;
                justify-content: space-evenly;

                height: 4ch;
            }
        }
        
        #welcome-user-area{
            grid-area: 2 / 1 / 3 / 2;

            display:grid;
            grid-template: 1fr / 50px 100px 1fr 50px;

            #profile-pic-1{
                grid-area: 1 / 2/ 2 / 3;
            }
            #welcome{
                grid-area: 1/ 3/ 2/ 4;
                display:flex; flex-direction:column;
                align-items:start;
            }
        }
        #welcome-user-area:active{
            animation-name: welcome-user-animation;
            animation-duration: 1s;
            animation-iteration-count:infinite;
            animation-timing-function: linear;
        }
    }
    #layout2{
        display:none;
    }
    #layout3{
        grid-row: 2 / 3;
        grid-column: 1 / 2;

        height: 100%; 
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-width: thin;
        scrollbar-color: var(--s-bg-c) var(--m-bg-c); 
        scroll-behavior: smooth;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;

    }
    #layout4{
        grid-row: 3 / 4;
        grid-column: 1 / 2;

        margin-top: 1px solid var(--s-bg-c);
        height: 100%;
        overflow-y:scroll;
        overflow-x:hidden;
        scrollbar-width: thin;
        scrollbar-color: var(--s-bg-c) var(--m-bg-c);
        scroll-behavior: smooth;

        display: grid;
        grid-template: 300px 400px / 1fr;
        gap: 3ch;

        #announcements-area{
            grid-area: 1/ 1/ 2/ 2;

            display:flex; flex-direction:column; justify-content: space-evenly
        }
        #trending-area{
            grid-area: 2/ 1 / 3/ 2;
            display: flex; flex-direction:column; justify-content: space-evenly;
        }
    }
}

@media screen and (max-width: 450px) {
    body{
        display:grid;
        grid-template: 200px 1fr 1fr / 1fr;
        height: 100vh; width: 100vw;
        overflow-x:hidden;
    }
    #layout1{
        grid-row: 1/2;
        grid-column: 1/2;

        display:grid;
        grid-template: 10px 1fr 1.5fr / 1fr;
        border-bottom: 1px solid var(--m-txt-c);

        #searchbar-area{
            grid-area: 2 / 1 / 3 / 2;
        }

        #user-features-area{
            grid-area: 3 / 1 / 4 / 3;

            width: 90%; height: 80%; place-self: center;

            display:grid;
            grid-template: 100px 70px / 1fr 2fr;

            #other-features{
                grid-area: 1 / 1/ 2/ 2;
                display: flex;
                justify-content: space-evenly;
            }
            #user-info{
                grid-area: 1 / 2 / 2 / 3;
            }
            #user-buttons{
                grid-area: 2 / 1 / 3/ 3;
                display: flex;
                justify-content: space-evenly;

                height: 4ch;
            }
        }
        
        #welcome-user-area{
            display:none;
        }
    }
    #layout2{
        display:none;
    }
    #layout3{
        grid-row: 2 / 3;
        grid-column: 1 / 2;

        margin-top: 2ch;

        display: flex;
        flex-direction:column;
        gap: 2ch;
    }
    #layout4{
        grid-row: 3 / 4;
        grid-column: 1 / 2;

        padding-top: 2ch;
        padding-bottom: 3ch;
        scrollbar-width: thin;
        scrollbar-color: var(--s-bg-c) var(--m-bg-c);
        scroll-behavior: smooth;

        display: grid;
        grid-template: 300px 400px / 1fr;
        gap: 3ch;

        #announcements-area{
            grid-area: 1/ 1/ 2/ 2;

            display:flex; flex-direction:column; justify-content: space-evenly
        }
        #trending-area{
            grid-area: 2/ 1 / 3/ 2;
            display: flex; flex-direction:column; justify-content: space-evenly;
        }
    }
}
