@import 'node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Playwrite+VN:wght@100..400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@media (prefers-color-scheme:dark){
    :root{
        --m-bg-c: rgb(10, 10, 20);
        --s-bg-c: rgb(20, 20, 45);
        --m-txt-c: rgb(200,200,200);
        --s-txt-c: rgb(255,255,255);
        --m-ft-c: rgb(240,200,0);
        --a-ft-c: rgb(100,240,0);
        --selection: rgb(100,100,200);
    }
}

@media (prefers-color-scheme:light){
    :root{
        --m-bg-c: rgb(255,255,255);;
        --s-bg-c: rgb(200,200,200);;
        --m-txt-c: rgb(25, 25, 50);
        --s-txt-c: rgb(50, 50, 75);
        --m-ft-c: rgb(240,200,0);
        --a-ft-c: rgb(100,240,0);
        --selection: rgb(100,100,200);

    }
}

@keyframes hover-link-side {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(10px);
        color: var(--s-txt-c)
    }
}
@keyframes hover-change-color {
    0% {}
    100% {
        background: var(--a-ft-c);
    }
}
@keyframes welcome-user-animation{
    0%{}
    25%{
        transform: translateX(-1%);
    }
    75%{
        transform: translateX(1%);
    }
    100%{
        transform: translateX(0);
    }

}

*{
    box-sizing: border-box; 
    padding:0; margin:0;
    color: var(--m-txt-c)
}

body{
    overflow-x: hidden;
    scroll-behavior: smooth;

    display:grid;

    font-family: 'roboto mono';
    font-weight: 500;
}

button{
    border-radius: 2ch;
    height: 4ch;
    background: var(--selection);

    p{
        color: var(--s-txt-c)
    }
}
button:hover{
    animation-name:hover-change-color;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.container{
    display:flex; 
    align-items:center; justify-content: center;
    width: 100%; height: 100%;
}

form{
    width:100%; height:100%;
    display:inherit;
    align-items: inherit;
    justify-content: inherit;
}

h1{
    padding: 0 1ch 0 1ch;
    color: var(--s-txt-c);
    font-weight: 700;
    letter-spacing: 0.1ch;

}

h2{
    padding: 0 1ch 0 1ch;
    color: var(--s-txt-c);
    font-weight: 500;
    letter-spacing: 0.1ch;
}

html{
    background: var(--m-bg-c);
}

.icon{
    position: relative; top: 0.5ch;
    height: 2.2ch;
}
.icon2{
    height: 2.2ch;
}

#layout1, #layout2{
    background: var(--s-bg-c);
}
#layout3,  #layout4{
    background: var(--m-bg-c);
}

.link{
    color: var(--m-txt-c);
    text-decoration: none;
    padding: 1ch;
}
.link:hover{
    color: var(--s-t-c);
}

#layout2 .link:hover{
    animation-name: hover-link-side; animation-duration: 0.5s; animation-fill-mode: forwards;
}

p{
    padding: 0 1ch 0 1ch;
    color: var(--m-txt-c);
    font-weight: 300;
    font-size: 0.8rem;
}

.project-card{
    border: 2px solid var(--m-ft-c);
    border-radius: 2ch; 
    background: var(--s-bg-c);

    display:grid;
    grid-template: 200px 90px/ 1fr 2fr;

}


.searchbar{
    background-color: var(--m-bg-c);
    width: 80%;
    border-radius: 1ch;
    border: 0;
    height: 3ch;
}
searchbar:focus{
    background-color: var(--m-bg-c);
    outline: none;

}

#side-link-group1{
    grid-area: 'side-link-group1';
    display:flex; flex-direction:column;
    align-self: center;
    margin-left:3ch;
}
#side-link-group2{
    grid-area: 'side-link-group2';
    display:flex; flex-direction:column;
    align-self: center;
    margin-left: 3ch;
}

.side-text{
    font-style:oblique;
    font-weight:400;
    font-size: 0.8rem;
}
#top-left-logo{
    grid-area:top-left-logo;
    height:100%;

    display:flex; justify-content: center; align-items: center;

    #logo{
        width: 190px;
        height: 45px
    }
}

/* development borders 
*{
    border: 1px solid white;
}
body,html{
    border: 0;
}

/* layouts */

@media screen and (min-width: 140ch){
    body{
        width: 100vw; height: 100vh;
        display: grid;
        grid-template: 170px 1fr / 1fr 3fr 1fr;
    }
    
    #layout1{
        grid-row: 1 / 2;
        grid-column: 2 / 4;

        display:grid;
        grid-template: 1fr 1.3fr / 2fr 1fr;

        #searchbar-area{
            grid-area: 1 / 1 / 2 / 2;
        }

        #user-features-area{
            grid-area: 1 / 2 / 3 / 3;
        }
        
        #welcome-user-area{
            grid-area: 2 / 1 / 3 / 2;

            display:grid;
            grid-template: 1fr / 50px 100px 1fr 50px;

            #profile-pic-1{
                grid-area: 1 / 2/ 2 / 3;
            }
            #welcome{
                grid-area: 1/ 3/ 2/ 4;
                display:flex; flex-direction:column;
            }
        }
        #welcome-user-area:active{
            animation-name: welcome-user-animation;
            animation-duration: 1s;
            animation-iteration-count:infinite;
            animation-timing-function: linear;
        }
    }
    #layout2{
        grid-row: 1 / 3;
        grid-column: 1 / 2;

        display:grid;
        grid-template: 170px 6fr 3fr 4fr / 1fr;

        grid-template-areas: "top-left-logo" "side-link-group1" "side-link-group2";
    }
    #layout3{
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }
    #layout4{
        grid-row: 2 / 3;
        grid-column: 3 / 4;  
    }
}

@media screen and (min-width: 450px) and (max-width: 140ch) {
    body{
        display:grid;
        grid-template: 170px 900px 800px / 1fr;
    }
    #layout1{
        grid-row: 1 / 2;
        grid-column: 1/2;
    }
    #layout2{
        display:none;
    }
    #layout3{
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    #layout4{
        grid-row: 3 / 4;
        grid-column: 1 / 2;

        margin-top: 1px solid var(--s-bg-c);
    }
}

@media screen and (max-width: 450px) {
    body{
        display:grid;
        grid-template: 120px 1300px 800px / 1fr;
        height: 100vh; width: 100vw;
    }
    #layout1{
        grid-row: 1/2;

        grid-column: 1/2;
    }
    #layout2{
        display:none;
    }
    #layout3{
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    #layout4{
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }
}
